# Built application files
*.apk

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Gradle build files
.gradle/
build/
release/
android/debug/

# Local configuration file (sdk path, etc)
local.properties

#intellij project files
*.iml
*.idea
*.patch

# bin folders
**/bin/

# jks files
*.jks

# stupid .vscode settings files
.vscode/